<!DOCTYPE html>
<html ng-app="myAppUseController">
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	<script src="./myAppUseController.js"></script>
	<link rel="stylesheet" href="mad-libs-app.css">
	<title></title>
</head>
<body ng-controller="MyCtrl">
	<header>
		<h2>
			<span class="logo-left">
				<img src="mad-lib-happy-face.png" alt="MadLibs Logo">
			</span>
		</h2><h3>
			<span class="logo-right">
				<img src="ng-mad-libs-logo.png" alt="MadLibs Logo"><br><div class="heading">Automate This!</div>
			</span>
		</h3>
	</header>
	<section>
		<form>
			<table>
			<thead>Provide the following words:
			</thead>
			<tr>
				<td>
					<input type="text" name="male_name" ng-model="male_name" required>			
				</td>
				<td>
					<input type="text" name="dirty_task" ng-model="dirty_task" required>
				</td>
				<td>
					<input type="text" name="obnoxious_celebrity" ng-model="obnoxious_celebrity" required>
				</td>
			</tr>
			<tr>
				<td>
					<input type="text" name="job_title" ng-model="job_title" required>			
				</td>
				<td>
					<input type="text" name="celebrity" ng-model="celebrity" required>
				</td>
				<td>
					<input type="text" name="huge_number" ng-model="huge_number" required>
				</td>
			</tr>
			<tr>
				<td>
					<input type="text" name="tedious_task" ng-model="tedious_task" required>			
				</td>
				<td>
					<input type="text" name="useless_skill" ng-model="useless_skill" required>
				</td>
				<td>
					<input type="text" name="adjective" ng-model="adjective" required>
				</td>
			</tr>
    		</table>
		</form>
	</section><footer>
		<span>
			<p>{{ male_name }} was a {{ job_title }} who loved technology.  Although he loved parts of his job, he absolutely hated {{ tedious_task }} and {{ dirty_task }}.  So, {{ male_name }} met with his life mentor {{ celebrity }} who told him to learn how to {{ useless_skill }} with Thinkful.  Thinkful didn't offer a course on {{ useless_skill }} so he studied programming instead.</p>
			<p>What a great decision!  With his new skills, {{ male_name }} built a(n) {{adjective }} robot named {{ obnoxious_celebrity }} that not only loved {{ dirty_task }} but did it {{ huge_number }} times faster.</p>
		</span>
	</footer>

</body>
</html>
